<div class="profilo-container">
  <h1>Profilo Utente 🌱</h1>

  <div class="card personal-info-card">
    <h2>Dati Personali</h2>
    <div class="info-grid">
      <div class="info-item"><span>Codice Utente:</span> {{codice_utente}}</div>
      <div class="info-item"><span>Nome:</span> {{nome_utente}}</div>
      <div class="info-item"><span>Cognome:</span> {{cognome_utente}}</div>
      <div class="info-item"><span>Email:</span> {{email_utente}}</div>
      <div class="info-item"><span>Email secondaria:</span> {{email2_utente}}</div>
      <div class="info-item"><span>Telefono:</span> {{telefono_utente}}</div>
      <div class="info-item"><span>Cellulare:</span> {{cellulare_utente}}</div>
      <div class="info-item"><span>Indirizzo:</span>{{indirizzo_utente}}</div>
      <div class="info-item"><span>CAP:</span> {{cap_utente}}</div>
      <div class="info-item"><span>Data di nascita:</span> {{data_utente | date:'dd/MM/yyyy' }}</div>
      <div class="info-item"><span>Codice Fiscale:</span> {{cod_utente}}</div>
      <div class="info-item"><span>Nazionalità:</span> {{nazione_utente}}</div>
      <div class="info-item"><span>Sesso:</span> {{sesso_utente}}</div>
      <div class="info-item note-field">
        <span>Note:</span>
        <p>L'utente è stato generato per test delle funzionalità bancarie green.</p>
      </div>
    </div>
  </div>
</div>
