.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  z-index: 1000;
}

.popup-content {
  position: relative;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  width: 80%;
  max-width: 800px; /* più largo */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.close-button:hover {
  color: #dddddd;
}
